body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: "Roboto regular", sans-serif;
}

.topBar {
    background-color: #131924;
    padding-right: 10px;
    padding-Left: 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homeIcon {
    width: 30px;
    align-self: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "Roboto regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.formGroup {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
}

