body {
    background-color: #0B0C10;
    margin: 0;
    padding: 0;
    font-family: "Roboto regular", sans-serif;
}

.header {
    background-color: #1F2833;
    color: #e7e7e7;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #e7e7e7;
}

.header input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 350px;
    min-width: 190px;
    outline: none;
    background: #e7e7e7;
}

.searchBar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.searchButton {
    border:none;
    cursor: pointer;
    height: 38px;
    width: 38px;
    border-radius: 38px;
    padding: 0;
    background: #e7e7e7;
}

.account {
    font-size: 20px;
}

.logoutButton {
    background-color: #1F2833;
    color: #e7e7e7;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Roboto regular", sans-serif;
}

.HeaderMenu {
    display: flex;
    align-items: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "Roboto regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.formGroup {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    max-width: 400px;
    border: none;
    font-family: "Roboto regular", sans-serif;
    background: #e7e7e7;
    outline: none;
}

.authorCheckBox {
    margin-bottom: 15px;
}

