.container {
    margin: 20px auto;
    background-color: #1b4943;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    max-width: 400px;
    border-radius: 25px;
    border: none;
    outline: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e7e7e7;
}

form {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.invisible {
    display: none;
}

button {
    margin: 0 auto;
    display: block;
    background-color: #e7e7e7;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Roboto regular", sans-serif;
}

.linkToReg {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    width: 0;
}

.errorLabel {
    color: #ff366b;
    font-size: 12px;
    margin-top: 10px;
    display: block;
    text-align: center;
}